*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    background-color: burlywood;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
} 
.item{
    font-size: 20px;
    background-color: crimson;
    padding: 15px;
}
@media(max-width:768px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}